<html lang="en" class="full-height" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="./css/compiled-4.10.0.min.css">
<link rel="stylesheet" type="text/css"
	href="./css/mdb-plugins-gathered.min.css">
<link rel="stylesheet" href="./css/all.css">
<style>
.view {
	background:
		url("https://cache.cosmopolitan.fr/data/photo/w1000_c17/49/types-parfum.jpg")
		no-repeat center center;
	background-size: cover;
}

.navbar {
	background-color: black;
}

.top-nav-collapse {
	background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
	.navbar {
		background-color: #4285F4;
	}
}

html, body, header, .view {
	height: 50%;
}
</style>
<style type="text/css">/* Chart.js */
@
-webkit-keyframes chartjs-render-animation {
	from {opacity: 0.99
}

to {
	opacity: 1
}

}
@
keyframes chartjs-render-animation {
	from {opacity: 0.99
}

to {
	opacity: 1
}

}
.chartjs-render-monitor {
	-webkit-animation: chartjs-render-animation 0.001s;
	animation: chartjs-render-animation 0.001s;
}

.h3 mb-4 {
	color: black;
}

.form-elegant .font-small {
	font-size: 0.8rem;
}

.form-elegant .z-depth-1a {
	-webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0
		rgba(121, 155, 254, 0.25);
	box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0
		rgba(121, 155, 254, 0.25);
}

.form-elegant .z-depth-1-half, .form-elegant .btn:hover {
	-webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0
		rgba(36, 133, 255, 0.15);
	box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0
		rgba(36, 133, 255, 0.15);
}
</style>

</head>

<body aria-busy="true">

	<!--Main Navigation-->
	<header>

		<nav
			class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
			<a class="navbar-brand" href="/accueil"><strong>Accueil</strong></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a
						class="nav-link waves-effect waves-light" href="/produits">Parfums<span
							class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a
						class="nav-link waves-effect waves-light" href="/hommes">Hommes</a></li>
					<li class="nav-item"><a
						class="nav-link waves-effect waves-light" href="/femmes">Femmes</a></li>
					<li class="nav-item"><a
						class="nav-link waves-effect waves-light" href="/marques">Marques</a></li>
					<li class="nav-item"><a
						class="nav-link waves-effect waves-light" href="/authentification">Authentification</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<!--Main Navigation-->
	<main class="text-center py-5">
		<section class="container form-elegant">
			<div class="row">
				<div class="col-12">
					<table id="dtBasicExample"
						class="table table-striped table-bordered" cellspacing="0"
						width="100%">
						<thead>
							<tr>
								<th class="th-sm">#</th>
								<th class="th-sm">nom</th>
								<th class="th-sm">description</th>
								<th class="th-sm"><a th:href="@{/ajouter_marque}"><i
										class="fas fa-plus"></i></a></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="marque : ${marquesIhm}">
								<td th:text="${marque.id}"></td>
								<td th:text="${marque.nom}"></td>
								<td th:text="${marque.description}"></td>
								<td><a th:href="@{/editer_marque(idMarque=${marque.id})}"><i
										class="fas fa-pencil-alt"></i></a> <a
									th:href="@{/afficher_detail_marque(idMarque=${marque.id})}"><i
										class="fas fa-eye"></i></a> <a
									th:href="@{/supprimer_marque(idMarque=${marque.id})}"><i
										class="fas fa-trash-alt"></i></a></td>
							</tr>
						</tbody>

					</table>
				</div>
			</div>
		</section>

	</main>
	<!--Main Layout-->
	<script type="text/javascript"
		src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/compiled-4.9.0.min.js"></script>
	<div class="hiddendiv common"></div>
	<script type="text/javascript"
		src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/plugins/mdb-plugins-gathered.min.js"></script>
	<script type="text/javascript">
		
	</script>
</body>
</html>