<html>
<body>
	<form th:action="@{/do_changer_mdp" method="Post">
		<input type="email" name="email" required="required" /> <br />
		<button>Envoyer</button>
	</form>
</body>
</html>





<html lang="en" class="full-height" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="./css/compiled-4.10.0.min.css">
<link rel="stylesheet" type="text/css"
	href="./css/mdb-plugins-gathered.min.css">
<link rel="stylesheet" href="./css/all.css">
<style>
.view {
	background:
		url("https://cache.cosmopolitan.fr/data/photo/w1000_c17/49/types-parfum.jpg")
		no-repeat center center;
	background-size: cover;
}

.navbar {
	background-color: black;
}

.top-nav-collapse {
	background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
	.navbar {
		background-color: #4285F4;
	}
}

html, body, header, .view {
	height: 100%;
}
</style>
<style type="text/css">/* Chart.js */
@
-webkit-keyframes chartjs-render-animation {
	from {opacity: 0.99
}

to {
	opacity: 1
}

}
@
keyframes chartjs-render-animation {
	from {opacity: 0.99
}

to {
	opacity: 1
}

}
.chartjs-render-monitor {
	-webkit-animation: chartjs-render-animation 0.001s;
	animation: chartjs-render-animation 0.001s;
}

.h3 mb-4 {
	color: black;
}
</style>

</head>

<body aria-busy="true">

	<!--Main Navigation-->
	<header>

		<nav
			class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
			<a class="navbar-brand" href="/accueil"><strong>Accueil</strong></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a
						class="nav-link waves-effect waves-light" href="/produits">Parfums<span
							class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a
						class="nav-link waves-effect waves-light" href="/hommes">Hommes</a></li>
					<li class="nav-item"><a
						class="nav-link waves-effect waves-light" href="/femmes">Femmes</a></li>
					<li class="nav-item"><a
						class="nav-link waves-effect waves-light" href="/marques">Marques</a></li>
					<li class="nav-item"><a
						class="nav-link waves-effect waves-light" href="/authentification">Authentification</a></li>
				</ul>
			</div>
		</nav>

		
	</header>
	<!--Main Navigation-->

	<!--Main Layout-->
	<main class="text-center py-5">
<div class="view intro-2" style="">
			<div class="full-bg-img">
				<div class="mask rgba-purple-light flex-center">
					<div class="container text-center white-text wow fadeInUp">

						<!-- Default form login -->
						<div class="container">
							<div class="row">
								<form method="POST"
									class="text-center offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6"
									th:action="@{/do_changer_mdp}">

									<p class="h3 mb-4">Mdp perdu</p>

									<!-- Email -->
									<input type="email" name="login" id="defaultLoginFormEmail"
										class="form-control mb-4" placeholder="E-mail">

									<div th:if="${ErrorMessage}" style="color: red">
										<p th:text="${ErrorMessage}"></p>
									</div>
								
									<!-- Sign in button -->
									<button class="btn btn-primary" role="button">valider</button>
								</form>
								<!-- Register -->
								<p>
									Not a member? <a href="creationCompte">Register</a>
								</p>

								<!-- Social login -->
								<p>or sign in with:</p>

								<a href="https://fr-fr.facebook.com/" role="button"><i
									class="fab fa-facebook"></i></a> <a
									href="https://twitter.com/?lang=fr" class="mx-2" role="button"><i
									class="fab fa-twitter light-blue-text"></i></a>


							</div>

						</div>


					</div>
				</div>

	</main>
	<!--Main Layout-->
	<script type="text/javascript"
		src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/compiled-4.9.0.min.js"></script>
	<div class="hiddendiv common"></div>
	<script type="text/javascript"
		src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/plugins/mdb-plugins-gathered.min.js"></script>
	<script type="text/javascript"></script>
</body>
</html>