<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>KRS Fragrance</title>
<style>
body {
	margin: 0;
	padding: 0;
}
</style>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<link rel="stylesheet" type="text/css"
	href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled-4.9.0.min.css">
<style>/* Only for snippet */
.double-nav .breadcrumb-dn {
	color: #fff;
}
</style>
<style type="text/css">/* Chart.js */
@
-webkit-keyframes chartjs-render-animation {
	from {opacity: 0.99
}

to {
	opacity: 1
}

}
@
keyframes chartjs-render-animation {
	from {opacity: 0.99
}

to {
	opacity: 1
}

}
.chartjs-render-monitor {
	-webkit-animation: chartjs-render-animation 0.001s;
	animation: chartjs-render-animation 0.001s;
}
</style>
</head>
<body class="hidden-sn mdb-skin" aria-busy="true">




	<!--Double navigation-->
	<header>
		<!-- Sidebar navigation -->
		<div id="slide-out" class="side-nav sn-bg-4">
			<ul class="custom-scrollbar">
				<!-- Logo -->
				<li>
					<div class="logo-wrapper waves-light">
						<a href="vcvc"><img style=""
							src="img/products/monLogo.svg"
							class="img-fluid flex-center"></a>
					</div>
				</li>
				<!--/. Logo -->


				<!--/.Search Form-->

				<!-- Side navigation links -->
				<li>
					<ul class="collapsible collapsible-accordion">

						<li><a class="collapsible-header waves-effect arrow-r"><i
								class="fas fa-grip-vertical"></i> Rayons<i
								class="fas fa-angle-down rotate-icon"></i></a>
							<div class="collapsible-body">
								<ul>
									<li><a href="#" class="waves-effect"><i
											class="fas fa-mobile-alt"></i>Telephonies</a></li>
									<li><a href="#" class="waves-effect"><i
											class="fas fa-laptop"></i>Ordinateurs</a></li>
								</ul>
							</div></li>


					</ul>
				</li>
				<!--/. Side navigation links -->
				<!-- Side navigation links -->
				<li>
					<ul class="collapsible collapsible-accordion">

						<li><a class="collapsible-header waves-effect arrow-r"><i
								class="fas fa-grip-vertical"></i> Gestion Produits<i
								class="fas fa-angle-down rotate-icon"></i></a>
							<div class="collapsible-body">
								<ul>
									<li><a th:href="@{/ajout_produit}" class="waves-effect"><i
											class="fas fa-mobile-alt"></i>Ajout</a></li>
									
								</ul>
							</div></li>


					</ul>
				</li>
				<!--/. Side navigation links -->
			</ul>
			<div class="sidenav-bg mask-strong"></div>
		</div>
		<!--/. Sidebar navigation -->
		<!-- Navbar -->
		<nav
			class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
			<!-- SideNav slide-out button -->
			<div class="float-left">
				<a href="#" data-activates="slide-out" class="button-collapse"><i
					class="fas fa-bars"></i></a>
			</div>
			<!-- Breadcrumb-->
			<div class="breadcrumb-dn mr-auto">
				<p>KRS Fragrance</p>
			</div>
			<ul class="nav navbar-nav nav-flex-icons ml-auto">

				<li class="nav-item"><a class="nav-link" th:href="@{/panier}"><i
						class="fas fa-shopping-basket"></i> <span
						class="clearfix d-none d-sm-inline-block">Panier</span></a></li>

				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#"
					id="navbarDropdownMenuLink" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"> Compte </a>
					<div class="dropdown-menu dropdown-menu-right"
						aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="#">Connexion</a> <a
							class="nav-link"><i class="fas fa-user"></i> <span
							class="clearfix d-none d-sm-inline-block">Account</span></a> <a
							class="dropdown-item" href="#">Deconnexion</a> <a
							class="nav-link"><i class="fas fa-envelope"></i> <span
							class="clearfix d-none d-sm-inline-block">Contact</span></a> <a
							class="nav-link"><i class="far fa-comments"></i> <span
							class="clearfix d-none d-sm-inline-block">Support</span></a>

					</div></li>
			</ul>
		</nav>
		<!-- /.Navbar -->
	</header>
	<!--/.Double navigation-->

	<!--Main Layout-->
	<main>
		<div class="container-fluid mt-5">

			<div class="container mt-6">
				<style>
.card-body {
	border-bottom-left-radius: inherit !important;
	border-bottom-right-radius: inherit !important;
}
</style>
 <div class="container mt-6" th:if="${session.connectedUser==null}">
          <div
            class="modal fade"
            id="modalContactForm"
            tabindex="-1"
            role="dialog"
            aria-labelledby="myModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog cascading-modal" role="document">
              <!--Content-->
              <div class="modal-content">
                <!--Header-->
                <div class="modal-header light-blue darken-3 white-text">
                  <h4 class="title">
                    <i class="fas fa-pencil-alt"></i> Connexion
                  </h4>
                  <button
                    type="button"
                    class="close waves-effect waves-light"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <!--Body-->
                <form th:action="@{/login}" method="post">
	                <div class="modal-body mb-0">
	                  <div class="md-form form-sm">
	                    <i class="fas fa-envelope prefix active"></i>
	                    <input name="login" type="email" id="form8" class="form-control" />
	                    <label for="form8" class="active">Login</label>
	                  </div>
	
	                  <div class="md-form form-sm">
	                    <i class="fas fa-lock prefix active"></i>
	                    <input name="password"  type="password" id="form9" class="form-control" />
	                    <label for="form9" class="active">Password</label>
	                  </div>
	
	                  <div class="text-center mt-1-half">
	                    <button class="btn btn-info mb-2 waves-effect waves-light">
	                      Send <i class="fas fa-send ml-1"></i>
	                    </button>
	                  </div>
	                </div>
                </form>
              </div>
              <!--/.Content-->
            </div>
          </div>
          <div
            class="modal fade"
            id="modalContactForm"
            tabindex="-1"
            role="dialog"
            aria-labelledby="myModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog cascading-modal" role="document">
              <!--Content-->
              <div class="modal-content">
                <!--Header-->
                <div class="modal-header light-blue darken-3 white-text">
                  <h4 class="title">
                    <i class="fas fa-pencil-alt"></i> Contact form
                  </h4>
                  <button
                    type="button"
                    class="close waves-effect waves-light"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <!--Body-->
                <div class="modal-body mb-0">
                  <div class="md-form form-sm">
                    <i class="fas fa-envelope prefix active"></i>
                    <input type="text" id="form8" class="form-control" />
                    <label for="form8" class="active">Your name</label>
                  </div>

                  <div class="md-form form-sm">
                    <i class="fas fa-lock prefix active"></i>
                    <input type="password" id="form9" class="form-control" />
                    <label for="form9" class="active">Your email</label>
                  </div>

                  <div class="md-form form-sm">
                    <i class="fas fa-tag prefix"></i>
                    <input
                      type="search"
                      id="form-autocomplete-2"
                      class="form-control mdb-autocomplete"
                    />
                    <button class="mdb-autocomplete-clear">
                      <svg
                        fill="#000000"
                        height="24"
                        viewBox="0 0 24 24"
                        width="24"
                        xmlns="https://www.w3.org/2000/svg"
                      >
                        <path
                          d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
                        />
                        <path d="M0 0h24v24H0z" fill="none" />
                      </svg>
                    </button>
                    <label for="form-autocomplete-2" class="active"
                      >Subject</label
                    >
                  </div>

                  <div class="md-form form-sm">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <textarea
                      type="text"
                      id="form67"
                      class="md-textarea mb-0"
                    ></textarea>
                    <label for="form67">Your message</label>
                  </div>

                  <div class="text-center mt-1-half">
                    <button class="btn btn-info mb-2 waves-effect waves-light">
                      Send <i class="fas fa-send ml-1"></i>
                    </button>
                  </div>
                </div>
              </div>
              <!--/.Content-->
            </div>
          </div>
          <div class="text-center">
            <a
              href=""
              class="btn btn-default btn-rounded my-3"
              data-toggle="modal"
              data-target="#modalContactForm"
              >Launch Modal Contact</a
            >
          </div>
        </div>
 
				<!--Section: Content-->
				<section class="dark-grey-text text-center">
					

	<h1>Ajouter un nouveau produit</h1>

	<form method="POST" action="totovaajouterlesdonnees">
		<div>
			<input type="text"  name="marque"
				placeholder="marque du produit" />
		</div>
		<div>
			<!-- 	private String marque; -->
			<input type="text"  name="model"
				placeholder="model du produit" />
			<!-- 	private String model; -->
		</div>
		<div>
			<input type="text"  name="nom" placeholder="Nom du produit" />
			<!-- 	private String nom; -->
		</div>
		<div>
			<textarea id="description" name="description"></textarea>
			<!-- 	private String description; -->
		</div>
		<div>
			<input type="number"  name="prix"
				placeholder="prix du produit" />
			<!-- 	private Double prix; -->
		</div>
		<div>
			<input type="text"  name="url" placeholder="url du produit" />
			<!-- 	private String url; -->
		</div>
		<div>
			<input type="color"  name="couleur"
				placeholder="couleur du produit" />
			<!-- 	private String couleur; -->
		</div>
		<button>Valider</button>

	</form>
				</section>
				<!--Section: Content-->
			</div>

		</div>
	</main>
	<!--Main Layout-->

	<script
		src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/compiled-4.9.0.min.js"></script>
	<div class="hiddendiv common"></div>
	<script>
		// SideNav Initialization
		$(".button-collapse").sideNav();
	</script>
	<div class="drag-target" style="left: 0px;"></div>
</body>
</html>