<html lang="en" class="full-height" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="./css/compiled-4.10.0.min.css">
<link rel="stylesheet" type="text/css"
	href="./css/mdb-plugins-gathered.min.css">
<link rel="stylesheet" href="./css/all.css">
<style>
.view {
	background:
		url("https://cache.cosmopolitan.fr/data/photo/w1000_c17/49/types-parfum.jpg")
		no-repeat center center;
	background-size: cover;
}

.navbar {
	background-color: black;
}

.top-nav-collapse {
	background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
	.navbar {
		background-color: #4285F4;
	}
}

html, body, header, .view {
	height: 30%;
}
</style>
<style type="text/css">/* Chart.js */
@
-webkit-keyframes chartjs-render-animation {
	from {opacity: 0.99
}

to {
	opacity: 1
}

}
@
keyframes chartjs-render-animation {
	from {opacity: 0.99
}

to {
	opacity: 1
}

}
.chartjs-render-monitor {
	-webkit-animation: chartjs-render-animation 0.001s;
	animation: chartjs-render-animation 0.001s;
}

.h3 mb-4 {
	color: black;
}
</style>

</head>

<body aria-busy="true">

	<!--Main Navigation-->
	<header>

		<nav
			class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
			<a class="navbar-brand" href="/accueil"><strong>Accueil</strong></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a
						class="nav-link waves-effect waves-light" href="/produits">Parfums<span
							class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a
						class="nav-link waves-effect waves-light" href="/hommes">Hommes</a></li>
					<li class="nav-item"><a
						class="nav-link waves-effect waves-light" href="/femmes">Femmes</a></li>
					<li class="nav-item"><a
						class="nav-link waves-effect waves-light" href="/marques">Marques</a></li>
					<li class="nav-item"><a
						class="nav-link waves-effect waves-light" href="/authentification">Authentification</a></li>
				</ul>
			</div>
		</nav>


	</header>
	<!--Main Navigation-->

	<main class="text-center py-5">
		<div class="container form-elegant">
			<div class="row">
				<div class="col-12">
					<!--Section: Contact v.2-->
					<section class="mb-4">

						<!--Section heading-->
						<h2 class="h1-responsive font-weight-bold text-center my-4">Ajout
							d'une nouvelle marque</h2>
						<!--Section description-->
						<p class="text-center w-responsive mx-auto mb-5">Blabla</p>

						<div class="row">
							<!--Grid column-->
							<div class="col-md-9 mb-md-0 mb-5">
								<form id="marque-form" name="marque-form" 
									th:action="@{/do_editer_marque}" method="POST">
									<input type="hidden" id="id" name="id"
										th:value="${marqueIhm.id}" class="form-control">
									<!--Grid row-->
									<div class="row">

										<!--Grid column-->
										<div class="col-md-6">
											<div class="md-form mb-0">
												<input type="text" id="nom" name="nom" 
													th:value="${marqueIhm.nom}" class="form-control">
												<label for="nom" class="">Nom</label>
											</div>
										</div>
										<!--Grid column-->


									</div>
									<!--Grid row-->
									<div class="row" >

										<!--Grid column-->
										<div class="col-md-12">

											<div class="md-form">
												<textarea type="text" id="description" name="description"
													th:text="${marqueIhm.description}" rows="2"
													class="form-control md-textarea"></textarea>
												<label for="description">Description</label>
											</div>

										</div>
									</div>
									<!--Grid row-->

								</form>

								<div class="text-center text-md-left" th:if="${edit}">
									<a class="btn btn-primary"
										onclick="document.getElementById('marque-form').submit();">Editer</a>
								</div>
								<div class="status"></div>
							</div>



						</div>

					</section>
					<!--Section: Contact v.2-->
				</div>
			</div>
		</div>
	</main>
	<!--Main Layout-->
	<script type="text/javascript"
		src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/compiled-4.9.0.min.js"></script>
	<div class="hiddendiv common"></div>
	<script type="text/javascript"
		src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/plugins/mdb-plugins-gathered.min.js"></script>
	<script type="text/javascript" th:if="${edit==null || edit==false}">
		$('#marque-form input').attr('readonly', 'readonly');
		$('#marque-form textarea').attr('readonly', 'readonly');
	</script>
</body>
</html>